@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500");
header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin: 20px 0px;
}
header img {
  margin: 30px;
  width: 150px;
}
header a {
  cursor: pointer;
  position: absolute;
  left: 15px;
  font-size: 30px;
}

.fa-arrow-left {
  color: black;
}

.description {
  box-shadow: 0px -9px 0px 0px #d3d3d3;
}
.description .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}
.description .location label {
  margin: 20px;
}
.description .location label input {
  background: transparent;
  border: none;
  margin-left: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  color: #5e636e;
  font-size: 16px;
}

.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #f2f2f2;
  text-align: center;
}
.restaurant h2 {
  font-size: 25px;
  margin-top: 0;
}
.restaurant-text {
  color: #5e636e;
  margin-bottom: 20px;
}

.restaurant-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 45px;
  background-color: #ff79da;
  display: block;
  background-image: linear-gradient(160deg, #ff79da, #9356dc);
  box-shadow: 5px 5px 5px #7a7a7a;
}
.restaurant-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #ff79da 25%, #9356dc 100%);
  background-position: right center;
  box-shadow: 5px 5px 5px #555555;
}

.fonctionnement {
  padding: 20px;
  margin: 30px 0;
}
.fonctionnement ol {
  list-style: none;
  display: block;
}
.fonctionnement-button {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 20px;
  border: none;
  padding: 30px;
  box-shadow: 5px 5px 5px #7a7a7a;
  text-align: center;
  align-items: center;
}
.fonctionnement-button .number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin-left: -40px;
  width: 20px;
}
.fonctionnement-button i {
  color: #5e636e;
  margin: 0 20px;
}

@media screen and (min-width: 900px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement-button {
    padding: 15px;
  }
  .fonctionnement .number {
    margin-left: -25px;
  }
}
.restaurants {
  max-width: 900px;
  padding: 20px;
  margin-top: 30px;
  background-color: #f2f2f2;
}
.restaurants .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.restaurants .container .card {
  flex: 1 1 500px;
  height: 230px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurants .container .card * {
  text-decoration: none;
}
.restaurants .container .card-image {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.restaurants .container .card-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurants .container .card-image .new {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  z-index: 1;
  position: absolute;
  background-color: #99e2d0;
  color: #628f84;
  display: block;
  padding: 10px;
  top: 20px;
  right: 10px;
}
.restaurants .container .card-body {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  line-height: 10px;
  font-size: 18px;
}
.restaurants .container .card-body .title {
  color: black;
  font-weight: bolder;
}
.restaurants .container .card-body p {
  color: #5e636e;
}

.fa-heart {
  padding-right: 30px;
  font-size: 35px;
  color: #5e636e;
}

.bg-image {
  width: 100%;
  height: 500px;
}
.bg-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.menu-list {
  margin-top: -50px;
  transform: translateY(-50px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #e7e7e7;
}
.menu-list h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
.menu-list-header {
  color: #5e636e;
  font-size: 16px;
  margin: 10px 0;
  width: 60px;
}
.menu-list-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fadeinItems 1s forwards;
  cursor: pointer;
  margin: 10px 0;
  background-color: white;
  border-radius: 20px;
  height: 90px;
  overflow: hidden;
}
.menu-list-box:hover .menu-list-check {
  animation: checkSlide 0.7s forwards;
}
.menu-list-box:hover i {
  animation: checkSpin 0.7s forwards;
}
.menu-list-box .menu-list-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 80%;
  width: 200px;
  min-width: 0;
}
.menu-list-box .menu-list-text div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-list-box .menu-list-text .title {
  font-weight: bolder;
}
.menu-list-box .menu-list-text .menu-list-nom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-list-box .menu-list-check {
  height: 90px;
  opacity: 0;
  background-color: #99e2d0;
}
.menu-list-box .menu-list-check i {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-left: 25px;
}
.menu-list-box .price {
  margin-right: 20px;
}
.menu-list-box:nth-child(1n) {
  animation-delay: 100ms;
}
.menu-list-box:nth-child(2n) {
  animation-delay: 200ms;
}
.menu-list-box:nth-child(3n) {
  animation-delay: 300ms;
}
.menu-list-box:nth-child(4n) {
  animation-delay: 400ms;
}
.menu-list-box:nth-child(5n) {
  animation-delay: 500ms;
}
.menu-list-box:nth-child(6n) {
  animation-delay: 600ms;
}
.menu-list-box:nth-child(7n) {
  animation-delay: 700ms;
}
.menu-list-box:nth-child(8n) {
  animation-delay: 800ms;
}
.menu-list-box:nth-child(9n) {
  animation-delay: 900ms;
}
.menu-list-box:nth-child(10n) {
  animation-delay: 1000ms;
}
@keyframes checkSlide {
  from {
    opacity: 0;
    flex: 0%;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    flex: 30%;
    transform: translateX(0%);
  }
}
@keyframes checkSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes fadeinItems {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-list .menu-button {
  width: 300px;
  margin: 50px 0;
  align-self: center;
}

.menu-background-color {
  background-color: #e7e7e7;
}

.underline-title {
  width: 60%;
  height: 5px;
  background-color: #99e2d0;
}

footer {
  background-color: #292929;
  color: white;
  padding: 30px;
}
footer .title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
footer .container a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}
footer .container i {
  margin-right: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body main {
  margin: 0 auto;
  max-width: 1200px;
}

@keyframes heartFill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heart {
  position: relative;
  cursor: pointer;
}
.heart .fa-solid {
  opacity: 0;
}
.heart .fa-regular {
  opacity: 1;
}
.heart:hover .fa-solid {
  opacity: 1;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heartFill 1.7s;
}
.heart:hover .fa-regular {
  opacity: 0;
  transition: opacity 1.2s ease 0ms;
}
.heart-menu {
  margin-right: 25px;
}

/*# sourceMappingURL=style.css.map */
