.description {
  box-shadow: 0px -9px 0px 0px $background-color-gray3;
  .location {
    @include flex-center;
    background-color: $background-color-gray1;
    label {
      margin: 20px;
      input {
        background: transparent;
        border: none;
        width:150px;
        margin-left: 20px;
        font-weight: bolder;
        font-family: $text-font;
        color: $description-text-font-color;
        font-size: $text-font-size;
      }
    }
  }
}
.restaurant {
  @include flex-center;
  flex-direction: column;
  padding: 50px;
  background-color: $background-color-gray2;
  text-align: center;
  h2 {
    font-size: $title-font-size;
    margin-top: 0;
  }
  &-text {
    color: $description-text-font-color;
    margin-bottom: 20px;
  }
}

.restaurant-button {
  font-family: $text-font;
  font-size: $text-font-size;
  color: $button-text-font-color;
  border: none;
  border-radius: 50px;
  padding: 15px 45px;
  background-color: $secondary-color;
  display: block;
  background-image: $color-gradient;
  box-shadow: 5px 5px 5px $boxshadow-color;
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      $secondary-color 25%,
      $primary-color 100%
    );
    background-position: right center;
    box-shadow: 5px 5px 5px $boxshadow-dark-color;
  }
}

.fonctionnement {
  padding: $body-padding;
  margin: 30px 0;
  ol {
    list-style: none;
    display: block;
  }
  &-button {
    display: flex;
    flex-direction: row;
    background-color: $background-color-gray2;
    font-family: $text-font;
    font-size: $text-font-size;
    font-weight: bold;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
    padding: 30px;
    box-shadow: 5px 5px 5px $boxshadow-color;
    text-align: center;
    align-items: center;
    .number {
      background-color: $primary-color;
      color: $button-text-font-color;
      border-radius: 50%;
      padding: 10px;
      margin-left: -40px;
      width: 20px;
    }
    i {
      color: $description-text-font-color;
      margin: 0 20px;
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .fonctionnement {
    ol {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-button {
      padding: 15px;
    }
    .number {
      margin-left: -25px;
    }
  }
}
