@import "variables";
header {
  @include flex-center;
  box-sizing: border-box;
  img {
    margin: 30px;
    width: 150px;
  }
  a {
    cursor: pointer;
    position: relative;
    right: 350px;
    font-size: 30px;
    }
}
.fa-arrow-left{
  color: black;
}