@import "variables";
header {
  @include flex-center;
  box-sizing: border-box;
  img {
    margin: 30px;
    width: 20%;
  }
  a {
    cursor: pointer;
    position: absolute;
    left: 10px;
    font-size: 30px;
    }
}
