@import "variables";
@import "header";
@import "description";
@import "restaurants";
@import "menu";
@import "footer";
body {
  font-family: $text-font;
  box-sizing: border-box;
  margin: 0;
  main {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.heart {
  cursor: pointer;
  .fa-solid {
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: all 1.2s ease 0ms;
  }
  .fa-regular {
    visibility: visible;
    opacity: 1;
    transition: all 1.2s ease 0ms;
  }
  &:hover .fa-solid {
    opacity: 1;
    visibility: visible;
    background: $color-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 1.2s ease 0ms;
  }

  &:hover .fa-regular {
    visibility: hidden;
    transition: all 1.2s ease 0ms;
  }
}
