@import "variables";
@import "header";
@import "description";
@import "fonctionnement";
@import "restaurants";
@import "footer";
body {
  font-family: $text-font;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;

  
  
}
