@import "header";
@import "description";
@import "restaurants";
@import "menu";
@import "footer";
body {
  font-family: $text-font;
  box-sizing: border-box;
  margin: 0;
  main {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@keyframes heartFill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heart {
  position: relative;
  cursor: pointer;
  .fa-solid {
    opacity: 0;
  }
  .fa-regular {
    opacity: 1;
  }
  &:hover .fa-solid {
    opacity: 1;
    background: $color-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heartFill 1.7s;
  }

  &:hover .fa-regular {
    opacity: 0;
    transition: opacity 1.2s ease 0ms;
  }
  &-menu{
    margin-right: 25px;
  }
}
